*{
    margin: 0;
    padding: 0;
}

.container-main{
    margin: auto;
    text-align: center;
    /* width: 50%; */
    /* height: 100; */
    background-color: aqua;
    padding-top: 10rem;
}

h1,input,h3{
    padding: 3rem 0rem;
}

input{
    width: 40vw;
    height: 5vh;
    text-align: center;
}